---
import Title from "@/components/global/Title.astro";
---

<section class="section">
	<div class="col-span-full col-start-1 sm:col-span-2 sm:col-start-2">
		<Title title="Services" subtitle="Coming soon" class="pt-44" />
	</div>
</section>
