---
import Title from "@components/global/Title.astro";

import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section class="section isolate z-20">
	<div class="z-20 col-span-full col-start-1 bg-black px-6 py-24 sm:py-32 sm:pb-72 lg:col-span-2 lg:col-start-2 lg:px-8">
		<Title class="pb-10 pt-20 uppercase" title={t("contact.title")} subtitle={t("contact.subtitle")} />
		<form data-static-form-name="contact" class="relative mx-auto max-w-2xl bg-black pt-12 lg:pt-20">
			<div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
				<div class="form-field sm:col-span-2">
					<label for="name" class="form-label">{t("contact.name")}*</label>
					<input type="text" name="name" id="name" autocomplete="given-name" required />
				</div>
				<div class="form-field sm:col-span-2">
					<label for="email" class="form-label">{t("contact.email")}*</label>
					<input type="email" name="email" id="email" autocomplete="email" required />
				</div>
				<div class="form-field sm:col-span-2">
					<label for="company" class="form-label">{t("contact.company")}</label>
					<input type="text" name="company" id="company" autocomplete="organization" />
				</div>
				<div class="form-field sm:col-span-2">
					<label for="message" class="form-label">{t("contact.message")}*</label>
					<textarea name="message" id="message" rows="4" required></textarea>
				</div>
				<div class="flex gap-x-4 sm:col-span-2">
					<label class="text-sm leading-6 text-gray-400" id="switch-1-label">
						{t("contact.agree")}
						<a href="/privacy" class="font-semibold text-white">privacy policy</a>.
					</label>
				</div>
			</div>
			<div class="flex pt-10">
				<div class="bg-zinc-100">
					<button
						type="submit"
						class="flex h-10 w-full max-w-52 flex-1 items-center justify-center px-4 py-2 text-xl text-black transition-all hover:text-slate-800 sm:w-auto md:font-bold lg:h-10">
						{t("contact.send")}
					</button>
				</div>
			</div>
		</form>
	</div>
</section>

<style>
	.form-field {
		@apply block;
	}

	.form-label {
		@apply flex text-sm font-semibold leading-6 text-gray-100;
	}

	input,
	textarea {
		@apply pointer-events-auto relative m-0 w-full cursor-text border-0 bg-white px-5 py-2 text-xl font-normal not-italic text-black outline-none placeholder:text-gray-900 focus:ring-slate-500;
	}
</style>
