<div class="background-lines"></div>

<style>
	div {
		mix-blend-mode: exclusion;
		flex: none;
		left: 0;
		overflow: hidden;
		pointer-events: none;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		width: 100%;
		transform-origin: left bottom;
		background-image: linear-gradient(90deg, var(--grid-rows-color) 1px, transparent 1px);
		background-size: 25.01%;
		margin-left: -1px;
		opacity: 0.15;
		transform: none;
		z-index: 10;
	}
</style>
